body{
    background-color: rgb(234, 6, 6);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.all{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

form{
    display: flex;
    flex-direction: column;
}

.dados input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #717171;
    border-radius: 5px;
    font-size: 13px;
}

input::placeholder{
    color: #9C9C9C;
}

.botao{
    display: block;
}

