
.endereçosbox{
    width: 850px;

}
.endereçobox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
}
.endereçotexto{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

}

.adicionarendereco{
    color: #E4A30B;
    border: 1px solid #E4A30B;
    border-radius: 4px;
    padding:8px 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.adicionarendereco img{
    height: 20px;
}
.endereços-cadastrados{
    width: 850px;
}


.padrao{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-0) ;
    background-color: var(--cor-p6);
    border-radius: 10px;
    height: 30px;
    width: 80px;
}

.endereçobtn{
    display: flex;
}

.endereçoeditar{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.excluir{
    color: var(--cor-p1);
    text-decoration: underline;
}
.editar{
    color: var(--cor-p6);
    text-decoration: underline;

}

.endereçobtn .end_padrão{
    border: 1px solid var(--cor-9);
    color: var(--cor-4);
    border-radius: 5px;
}



.endereçotexto :hover{
    cursor: pointer;
}




#endereco_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* para ficar acima do conteúdo */
    padding: 20px;
    border-radius: 10px;
}

#endereco_popup form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#endereco_popup label {
    margin-bottom: 5px;
    display: block;
}

#endereco_popup input[type="text"],
#endereco_popup input[type="tel"],
#endereco_popup input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#endereco_popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#endereco_popup button:hover {
    background-color: #0056b3;
}



#endereco_popup, #alterar_endereco_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
}

#endereco_popup form, #alterar_endereco_popup form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#endereco_popup label, #alterar_endereco_popup label {
    margin-bottom: 5px;
    display: block;
}

#endereco_popup input[type="text"],
#endereco_popup input[type="tel"],
#endereco_popup input[type="number"],
#alterar_endereco_popup input[type="text"],
#alterar_endereco_popup input[type="tel"],
#alterar_endereco_popup input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#endereco_popup button, #alterar_endereco_popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#endereco_popup button:hover, #alterar_endereco_popup button:hover {
    background-color: #0056b3;
}