
.endereçosbox{
    width: 850px;

}
.endereçobox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
}
.endereçotexto{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

}

.adicionarendereco{
    color: #E4A30B;
    border: 1px solid #E4A30B;
    border-radius: 4px;
    padding:8px 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.adicionarendereco img{
    height: 20px;
}
.endereços-cadastrados{
    width: 850px;
}


.padrao{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-0) ;
    background-color: var(--cor-p6);
    border-radius: 10px;
    height: 30px;
    width: 80px;
}

.endereçobtn{
    display: flex;
}

.endereçoeditar{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.excluir{
    color: var(--cor-p1);
    text-decoration: underline;
}
.editar{
    color: var(--cor-p6);
    text-decoration: underline;

}

.endereçobtn button{
    border: 1px solid var(--cor-4);
    color: var(--cor-4);
    border-radius: 5px;
}



.endereçotexto :hover{
    cursor: pointer;
}