header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header .categoria_btn{
    display: flex;
    align-items: center;
    position: relative;
}

header .categoria_menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--cor-0);
    width: 80%;
    border-top: none;
    border-right: 1px solid var(--cor-12);
    border-bottom: 1px solid var(--cor-12); 
    border-left: 1px solid var(--cor-12);
    border-radius: 5px;
    padding: 10px;
    transition: opacity 0.3s ease; 
    opacity: 0;
}

header .categoria_menu.aberto {
    opacity: 1;
}

header .categoria_menu a {
    display: block;
    color: var(--cor-12);
    padding: 5px 0;
    text-align: center;
    transition: color .3s ease, text-decoration .3s ease ;
}

header .categoria_menu a:hover {
    color: var(--cor-p1);
    text-decoration: underline;
}

header .categoria_btn a{
    text-decoration: none;
    margin-right: 4px;
}
.categoria_content{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 8px;
}

header .categoria_btn.open #arrowIcon {
    transform: rotate(180deg); 
    transition: transform 0.3s ease; 
}

.logo-header{
    width: 80px;
    height: 80px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 666px;
    height: 40px;   
}

.search-container input{
    padding-left: 12px;
    padding-right: 12px;
    width: 666px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--cor-3);
}

.search-container input:focus{
    border: solid var(--cor-7) 1px;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 12px;
    width: 30px;
    height: auto;
    cursor: pointer;
}

header .icon{
    width: 40px;
    height: 40px;
}

header .icon_sino{
    width: 35px;
    height: 35px;
}

#arrowIcon {
    transition: transform 0.3s ease;
}

.rotacionado {
    transform: rotate(180deg);
}
