.conteudo-home{
    background-color: var(--cor-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-home h1{
    margin-bottom: 32px;
}
.conteudo-home p{
    margin-bottom: 20px;
}

.btn_cheio{
    width: 80%;
    text-align: center;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    color: var(--cor-p5);
    text-decoration: none;
    font: 400 1.125rem/1.35 "Poppins", sans-serif;
    text-transform: uppercase;
}

.btn_cheio:hover{
    background: linear-gradient(180deg, #F2A50C 0%, #FFBF00 100%);
}

.btn_vazado{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 16px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid var(--cor-p5);
    text-decoration: none;
    color: var(--cor-p5);
}

.btn_vazado img{
    width: 22px;
}
.btn_vazado img:hover{
    fill: var(--cor-p3);
}

.btn_vazado:hover{
    color: var(--cor-p3);
    border: 1px solid var(--cor-p3);
}

.categorias{
    margin-top: 60px;
}

.mgb-40{
    margin-bottom: 40px;
}

.categorias-item{
    border: 2px solid var(--cor-5);
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorias-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    max-width: 100%;
    gap: 12px;
}

.categoria-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populares-home{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: var(--cor-2);
    padding: 24px;
}

.populares-item{
    width: 250px;
    border: 2px solid var(--cor-5);
}

.item_img{
    background-color: var(--cor-4);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item_img .favorite{
    position: absolute;
    right: 8px;
    top: 8px;
}

.content_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_flex-sun{
    display: flex;
    align-items: center;
    gap: 8px;
}

.content_flex-sun img{
    width: 25px;
    height: 25px;
}

.item_content{
    margin: 12px;
}
 
.itens-l1, 
.itens-l2, 
.itens-l3, 
.itens-l4, 
.itens-l5, 
.itens-l6, 
.itens-l7, 
.itens-l8, 
.itens-l9, 
.itens-l10 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.itens-l1 a, 
.itens-l2 a, 
.itens-l3 a, 
.itens-l4 a, 
.itens-l5 a, 
.itens-l6 a, 
.itens-l7 a, 
.itens-l8 a, 
.itens-l9 a, 
.itens-l10 a{
    text-decoration: none;
    color: var(--cor-12);
}

.item-img-geral{
    width: 200px;
    height: 200px;
}

.item-h2-geral{
    text-align: center;
}

.todos-itens{
    margin: 0px;
}

.item-imagem{
    width: 200px;
    height: 200px;
}