.item-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-top: 60px;
}

.item-opcao_maior{
    background-color: var(--cor-3);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 8px;
}

.item-opcao_maior img{
    width: 400px;
}

.item-opcao_menor{
    display: flex;
}

.item-opcao_menor div:not(:last-child){
    margin-right: 8px;
}

.item-opcao_menor div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.item-opcao_menor img{
    width: 100%;
}

.opcao-menor_bg{
    background-color: var(--cor-3);
}

.info-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-after::after{
    background-color: var(--cor-3);
    width: 100%;
    height: 2px;
    display: block;
    content: " ";
    margin-top: 20px;
    margin-bottom: 16px;
}

.opcoes-tamanho select{
    background-color: var(--cor-0);
    border: solid 1px var(--cor-8);
    padding: 16px 32px;
    border-radius: 8px;
    display: block;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.opcoes-tamanho select:focus{
    border: solid 1px var(--cor-10);
}

.opcoes-tamanho select option{
    display: flex;
    align-items: center;
    justify-content: center;

}

.variante-prod{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-item{
    margin-top: 24px;
    display: flex;
    gap: 12px;
}

.btn-item .btn_vazado{
    border: 1px solid var(--cor-p1);
    color: var(--cor-p1);
    background-color: #FFF;
}

.btn-item .btn_vazado:hover{
    border-color: var(--cor-p4);
    color: var(--cor-p4);
}

.detalhe-produto{
    margin-top: 24px;
}

.detalhe-produto .linha{
    display: block;
    position: relative;
    margin-bottom: 24px;
}

.detalhe-produto .linha::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--cor-4);
    display: block;
    position: absolute; 
    bottom: -12px;
}

.mgb-8px{
    margin-bottom: 8px;
}

.mgb-24px{
    margin-bottom: 24px;
}