.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    /* display: none; */
}

.popup {
    position: relative;
    /* top: 100px;
    left: 560px; */
    z-index: 1000;
    background-image: linear-gradient(to bottom, var(--cor-0) 85%, var(--cor-3) 85%);
    width: 400px;
    padding: 20px;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cadas-conta {
    margin-top: 20px;
    text-align: center;
}

.cadas-conta p {
    margin-bottom: 10px;
}

.cadas-conta a {
    color: var(--cor-p1);
    text-decoration: underline;
}

.campo {
    margin: 8px;
    padding: 12px;
    width: calc(100% - 24px);
    border: none;
    background-color: #D9D9D9;
    font: 400 0.875rem/1.43 "Roboto", sans-serif;
    color: #595959;
}

.but-entrar button {
    margin-top: 20px;
    margin-bottom: 30px;
    width: calc(100% - 24px);
    height: 50px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: #332200;
}

.but-entrar button:hover {
    background: linear-gradient(180deg, #F2A50C 0%, #FFBF00 100%);
    color: #332200;
}

.box-login a {
    color: #FFBB00;
    text-decoration: underline;
}

.esqsenha,
.esqsenha a{
    color: var(--cor-p1);
}

.esqsenha:hover,
.esqsenha a:hover{
    color: var(--cor-p5);
}
