
.meus-produtos{
    width: 850px;
}

.produtos-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;

}

.produtostexto a{
    text-decoration: none;
}

.adicionaritem{
    color: #E4A30B;
    border: 1px solid #E4A30B;
    border-radius: 4px;
    padding:8px 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

