.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    
    
}

.imagem {
    margin-bottom: 20px;
}

.imagem img {
    width: 100px; 
    height: 100px;
}

.box-1 {    
    width: 700px;
    text-align: center;
}

.box-1 h1{
    font-size: 42px;
    
}
 
.box-1 p {
    width: 700px;
    height: 65px;
    font-size: 12px;
    color: var(--cor-8)
     
    
    
}

.box-1 form {
    display: inline-block;
    margin: 10px;
    
}

.box-1 button {
    
    font-weight: 600;
    padding: 10px 70px;
    border-radius: 5px;
    cursor: pointer;
}

.continuar-comprando {
    background: linear-gradient(0deg, #F2A50C 0%, #FFBF00 100%);
  color: #332200;
  border: none;
}

.detalhe-da-compra {
    background-color: #FFFFFF;
    color: #FFB800;
    border: 2px solid #FFB800;
}

.continuar-comprando:hover {
    background:     border 2px solid #FFB800;
    border: 2px solid #FFB800;

}

.detalhe-da-compra:hover {
    background-color: #FFB800;
    color: #FFFFFF;
}

.btn-pagamentos{
    display: flex;
    align-items: center;
    gap: 20px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

.loading img{
    width: 100px;
}

#content {
    display: none;
}
