.meuperfil{
    padding-left: 220px;
    padding-right: 220px;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.menu-nome img{
    width: 60px;

}
.menu-nome{
    display: flex;
    padding-top: 10px;
}
.nomeusuario{
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 40px;
    color: #404040;
    width: 180px;
}

.nomeusuario img{
    width: 20px;
    height: 15px;
}


.menu-user{
    display: flex;
    flex-direction: column;
}
.minha-conta{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.minhacontabtn{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 160px;
}

.perfil{
    width: 850px;
}

.perfil-end{
    padding-left: 50px;
}
.perfil-end li{
    padding-bottom: 14px;
    color: #404040;
}



.minhacontabtn img{
    width: 30px;
    height: 35px;
}


.minhas-compras{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 200px;
}

.venda-agora{
    width: 170px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
}

.painelperfil{
    display: flex;
    justify-content: center;
    width: 850px;
}

.adicionar-perfil img{
    height: 130px;
}
.btn-perfil{
    height: 50px;

}
.menu-user a{
    text-decoration: none;
    color: rgb(65, 66, 64);
}


.menu-user a :hover {
    color: #FFBB00;
    }

.linhau{
    width: 100%;
    height: 1px;
    background-color: var(--cor-5);
    margin-bottom: 10px;
}


.adicionar-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.btn-perfil {
    position: relative;
}

.btn-perfil input.file {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    }

.btn-perfil label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    cursor: pointer;
}